# Sicherstellen, dass npm Binaries richtig installiert
bin-links=true

# Verhindern, dass npm Benachrichtigungen anzeigt
fund=false
update-notifier=false

# Für bessere Kompatibilität in Container-Umgebungen
unsafe-perm=true
scripts-prepend-node-path=true

# Ausfallsicherheit verbessern
network-timeout=60000
fetch-retries=3
no-optional=true

# Fehlersuche verbessern
loglevel=verbose
