# Sicherstellen, dass npm Binaries richtig installiert
bin-links=true

# Verhindern, dass npm Benachrichtigungen anzeigt
fund=false
update-notifier=false

# Für bessere Kompatibilität in Container-Umgebungen
unsafe-perm=true
scripts-prepend-node-path=true

# Ausfallsicherheit verbessern
network-timeout=120000
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
no-optional=true

# Reduziere die Anzahl paralleler Installationen
maxsockets=4

# Verwende Version 6 des Registrierungs-API
registry=https://registry.npmjs.org/

# Fehlersuche verbessern
loglevel=verbose

# Bevorzuge Offline-Pakete und reduziere Netzwerkauslastung
prefer-offline=true
prefer-reduced-size=true
no-audit=true
