# Sicherstellen, dass npm Binaries richtig installiert
bin-links=true

# Verhindern, dass npm Benachrichtigungen anzeigt
fund=false

# Für bessere Kompatibilität in Container-Umgebungen
unsafe-perm=true

# Ausfallsicherheit verbessern
network-timeout=60000
fetch-retries=3
