# Node-Modules im Frontend nicht in den Build-Context einbeziehen
frontend/node_modules
frontend-angular/node_modules
frontend-angular/dist
frontend-angular/.angular

# IDE/Tooling
.idea/
.aider*

# Venvs/Cache
myenv/
.pytest_cache/
data_test/

# Python-Cache-Dateien
__pycache__/
*.py[cod]

# Virtuelle Umgebungen
.venv/
env/

# Datenordner, Git, Logs, etc.
data/
.git/
.github/
.vscode/
.idea/
*.log
*.bak
*.swp
.DS_Store
Thumbs.db
desktop.ini
