flask
requests
flask-cors
pydantic
pydantic-settings
flake8
python-dotenv
prometheus-client
pyjwt
mypy
portalocker
flasgger
psutil
sqlmodel
psycopg2-binary
pyotp
qrcode
cryptography
alembic
tree-sitter
tree-sitter-languages
llama-index
mistralai
gitpython
